*
{
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    max-height: 100vh;
    background: black;
}
.flag
{
    position:relative;
    width: 400px;
    height: 300px;
    display: flex;
    justify-content: center;
    align-items:center ;
    -webkit-box-reflect:below 15px linear-gradient(transparent,rgba(0,0,0,0.2));
}
.flag::before
{
    content: '';
    position: absolute;
    width:100%;
    height: 100%;
    background: white;
    border-top: 100px solid orange;
    border-bottom: 100px solid green;
    box-sizing: border-box;
    animation: animate-reverse 10s linear infinite;
}
@keyframes animate
{
  0%
  {
    background-position: 0;
  }
  100%
  {
    background-position: 1360px;
  }
}

.flag::after{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(255,255,255,0.2);
   /* filter:url(#wavy);*/
}

.flag img{
    position: relative;
    max-width: 100px;
    z-index: 100;
    animation: rotate 20s linear infinite;
}
@keyframes rotate
{
    0%
    {
        transform: rotate(0deg);
    }     
    100%
    {
        transform: rotate(360deg);
    }
}



section{
    position: relative;
    width: 100%;
    height: 150%;
    background: black;
  }
  section .wave{
    position: absolute;
    width: 100%;
    height: 143px;
    bottom: 0;
    Left:0;
    background: url(wave.png);
    animation: animate 10s linear infinite;
  }
  section .wave:before{
    content: '';
    width: 100%;
    height: 143px;
    background: url(wave.png);
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0.4;
    animation: animate-reverse 10s linear infinite;
  }
  @keyframes animate
  {
    0%
    {
      background-position: 0;
    }
    100%
    {
      background-position: 1360px;
    }
  }
  
  @keyframes animate-reverse
  {
    0%
    {
      background-position: 1360px;
    }
    100%
    {
      background-position: 0;
    }
  }
